*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background: orange;
    border: none;
    color: white;
    font-size: 20px;
    padding: 18px 25px;
    border-radius: 5px;
    cursor: pointer;
}
header{
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
.logo h1{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto; 
    padding-top: 50px;
}
nav .menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav .menu li{
font-size: 20px;
text-decoration: none;
color: #474747;

}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0px 230px;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
} 
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background: #FFF8F3;

}
.section-headding{
    max-width: 827px;
    text-align: center;
}
.section-headding h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-headding p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
}